{% load static %}
<div class="site-section border-top">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="mb-5 text-black">Want To Travel With Us?</h2>
          <p class="mb-0"><a href="{% url 'booking' %}" class="btn btn-primary py-3 px-5 text-white">Book Now</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="mb-5">
            <h3 class="footer-heading mb-4">About Travelers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
          </div>

          
          
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'country' %}">Destination</a></li>
                <li><a href="{% url 'service' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="{% url 'booking' %}">Book Online</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'discount' %}">Discounts</a></li>
              </ul>
            </div>
          </div>

          

        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
         

          <div class="mb-5">
            <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.</p>

            <form action="#" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>

          </div>

        </div>
        
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="mb-5">
            <a href="{{social.facebook}}" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="{{social.twitter}}" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="{{social.instagram}}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="{{social.linkedin}}" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>

          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; All right reserved Backcountry Excursion
          </p>
        </div>
        
      </div>
    </div>
  </footer>