{% load static %}
<div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2 class="font-weight-light text-black">Our Blog</h2>
          <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
        </div>
      </div>
      <div class="row mb-3 align-items-stretch">
        {% for blog in blogs %} 
        <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
          <div class="h-entry">
            <img src="{{blog.cover_image.url}}" alt="Image" class="img-fluid">
            <h2 class="font-size-regular"><a href="#">{{blog.title}}</a></h2>
            <div class="meta mb-4">by {{blog.author}} <span class="mx-2">&bullet;</span>{{ blog.created_at|date:"M j, Y" }} at {{ blog.created_at|time:"g:i a" }} <span class="mx-2">&bullet;</span> <a href="#">{{blog.category}}</a></div>
            <p>{{blog.content|truncatewords:20|safe}}</p>
          </div> 
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="{% url 'blog' %}" class="btn btn-outline-primary border-2 py-3 px-5">View All Blog Posts</a>
        </div>
      </div>
    </div>
  </div>