{% load static %}
<div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7">
        <h2 class="font-weight-light text-black text-center">Testimonials</h2>
      </div>
    </div>

    <div class="nonloop-block-13 owl-carousel">
      {% for review in reviews %} 
      <div class="item">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5">
              <img src="{{review.image_traveler.url}}" alt="Image" class="img-md-fluid">
            </div>
            <div class="overlap-left col-lg-6 bg-white p-md-5 align-self-center">
              <p class="text-black lead">&ldquo;{{review.review_text}}&rdquo;</p>
              <p class="">&mdash; <em>{{review.traveler_name}}</em>, <a href="#">Traveler</a></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>